@page "/dlladd"
@rendermode InteractiveServer
@inject HttpClient HttpClient
@using System.Text.Json
@inject IJSRuntime JSRuntime

<PageTitle>DLL</PageTitle>

<div class="data-header">
    <InputFile OnChange="HandleFileSelected" />
</div>

<div class="data-header">
    <button class="btnSubmit" @onclick="UploadFile">Add DLL file</button>
</div>


<div class="data-header">
    <h2>Status: @statusMessage</h2>
</div>

@code {
    private IBrowserFile? SelectedFile;
    private string? FileContent;
    private string statusMessage = "Awaiting for file...";

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        SelectedFile = e.File;

        if (SelectedFile != null)
        {
            using var stream = SelectedFile.OpenReadStream(10 * 1024 * 1024);
            using var reader = new StreamReader(stream);
            FileContent = await reader.ReadToEndAsync();

            Console.WriteLine($"File selected: {SelectedFile.Name}");
            Console.WriteLine($"File size: {SelectedFile.Size} bytes");
        }
    }

    private async Task UploadFile()
    {
        if (SelectedFile != null)
        {
            Console.WriteLine($"Selected File: {SelectedFile.Name}");
            Console.WriteLine($"File Content Length: {FileContent?.Length ?? 0}");

            using var content = new MultipartFormDataContent();
            content.Add(new StreamContent(SelectedFile.OpenReadStream()), "file", SelectedFile.Name);
            var response = await HttpClient.PostAsync("/api/Plugin/upload", content);

            Console.WriteLine($"Server Response: {response.StatusCode}");
            if(response.IsSuccessStatusCode)
            {
                statusMessage = "File uploaded successfully.";
            }
            else
            {
                statusMessage = "Error uploading file.";
            }
        }
        else
        {
            statusMessage = "No file selected";
            Console.WriteLine("No file selected.");
        }
    }
}

<style>
    .data-header {
        padding: 20px;
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .file-input {
        display: inline-block;
        font-size: 16px;
        padding: 5px;
        height: 45px;
        border-radius: 5px;
        border: 2px solid #ccc;
    }

    .btnSubmit {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .btnSubmit:hover {
            background-color: #0056b3;
        }

        .btnSubmit:active {
            background-color: blue;
        }
</style>
